<%= form_with model: task, class: "contents",
  url: task_submit_path(task, variant: :hotwire) do |form| %>
  <%= render partial: "shared/errors", locals: { task: task } %>

  <div class="my-5">
    <%= form.label :title %>
    <%= form.text_field :title, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.text_field :description, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <%= form.submit class: "button bg-green-600 hover:bg-green-700 text-white"%>

  <%= link_to "Cancel", tasks_path(variant: :hotwire),
    class: "button ml-2 bg-gray-100 text-gray-500 hover:bg-gray-200 focus:ring-gray-500",
    data: { action: 'modal#close', 'modal-target': 'close', turbo_frame: '_top' } %>
<% end %>
