<%= form_with model: task,
  data: { hx_form_method(task) => task_submit_path(task, variant: :htmx),
          hx_disinherit: 'hx-select hx-target',
          hx_target: 'this',
          hx_select: 'form' },
  url: task_submit_path(task, variant: :htmx) do |form| %>

  <%= render partial: "shared/errors", locals: { task: task } %>

  <div class="my-5">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <%= form.submit %>

  <%= form.cancel tasks_path(variant: :htmx),
    data: { hx_push_url: true, hx_select: '#main', hx_target: '#main' },
    preload: 'mouseover' %>
<% end %>
