<%= form_with model: task,
  html: { 'up-layer': 'root' },
  url: task_submit_path(task, variant: :unpoly) do |form| %>

  <%= render partial: "shared/errors", locals: { task: task } %>

  <div class="my-5">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <%= form.submit class: 'mr-2' %>
  <%= form.cancel tasks_path(variant: :unpoly), 'up-dismiss': 'true' %>
<% end %>
