<%= form_with model: task,
  url: task_submit_path(task, variant: :hotwire) do |form| %>
  <%= render partial: "shared/errors", locals: { task: task } %>

  <div class="my-5">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <%= form.submit class: 'mr-2' %>
  <%= form.cancel tasks_path(variant: :hotwire), data: { turbo_frame: '_top' } %>
<% end %>
