<% content_for :title, "Tasks" %>

<div class="w-full">
  <div class="mb-3 flex justify-between items-center">
    <h1 class="font-bold text-4xl">Tasks</h1>
    <%= link_to "New task", new_task_path(variant: :unpoly),
      class: "items-center px-4 py-3 border border-transparent text-sm leading-4 font-medium rounded-md shadow-sm text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500",
      'up-cache': 'false',
      'up-layer': 'new modal',
      'up-main': 'modal' %>
  </div>

  <table id="tasks" class="table-fixed min-w-full divide-y divide-gray-200">
    <thead class="bg-gray-50">
      <tr>
        <th scope="col" class="w-1/12 px-6 py-3 text-left text-xs font-medium tracking-wider text-gray-500 uppercase">
          Status
        </th>
        <th scope="col" class="w-4/12 px-6 py-3 text-left text-xs font-medium tracking-wider text-gray-500 uppercase">
          Title
        </th>
        <th scope="col" class="w-6/12 px-6 py-3 text-left text-xs font-medium tracking-wider text-gray-500 uppercase">
          Description
        </th>
        <th scope="col" class="w-1/12 px-6 py-3 text-left text-xs font-medium tracking-wider text-gray-500 uppercase">
          Actions
        </th>
      </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
      <% @tasks.each do |task| %>
        <tr id="<%= dom_id(task) %>">
          <td class="px-6 py-4 whitespace-nowrap">
            <div class="flex items-center">
              <% if task.done? %>
                <%= link_to "✓", task_completion_path(task, variant: :unpoly),
                  class: "w-5 h-5 inline-block bg-indigo-100 border border-indigo-500 rounded-md leading-none text-center text-lg",
                  'up-method': :delete,
                  'up-target': "##{dom_id(task)}" %>
              <% else %>
                <%= link_to " ", task_completion_path(task, variant: :unpoly),
                  class: "w-5 h-5 inline-block border border-gray-300 rounded-md leading-none text-center text-lg hover:border-indigo-500 hover:bg-indigo-100",
                  'up-method': :post,
                  'up-target': "##{dom_id(task)}" %>
              <% end %>
            </div>
          </td>
          <td class="px-6 py-4 whitespace-nowrap">
            <div class="text-sm font-medium text-gray-900">
              <%= task.title %>
            </div>
          </td>
          <td class="px-6 py-4 whitespace-nowrap">
            <div class="text-sm text-gray-500">
              <%= task.description %>
            </div>
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
            <%= link_to "Edit", edit_task_path(task, variant: :unpoly),
              class: "mr-3 inline-flex items-center px-4 py-3 border border-transparent text-sm leading-4 font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500",
              'up-cache': 'false',
              'up-layer': 'new modal',
              'up-main': 'modal' %>
            <%= link_to "Destroy", task_path(task, variant: :unpoly),
              class: "inline-flex items-center px-4 py-3 border border-transparent text-sm leading-4 font-medium rounded-md shadow-sm text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500",
              'up-confirm': "Are you sure?",
              'up-method': :delete,
              'up-target': '#tasks' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
