<!DOCTYPE html>
<html>
  <head>
    <title><%= (content_for?(:title) ? "#{content_for(:title)} // " : "") + "Hotwire" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="turbo-cache-control" content="no-cache">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags("hotwire-app") %>
  </head>

  <body data-preserve-scroll>
    <% if notice.present? %>
      <div class="flash">
        <%= notice %>
      </div>
    <% end %>

    <main class="container mx-auto mt-28 px-5">
      <%= yield %>
    </main>

    <dialog
      class="modal"
      data-controller="modal"
      data-action="turbo:frame-load->modal#open turbo:before-render@window->modal#closeWithAnimation click->modal#backdropClose"
    >
      <%= turbo_frame_tag "modal" %>
    </dialog>
  </body>
</html>
