<!DOCTYPE html>
<html>
  <head>
    <title><%= (content_for?(:title) ? "#{content_for(:title)} // " : "") + "HTMX" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags("htmx-app") %>
  </head>

  <body
    hx-boost="true"
    hx-ext="preload"
    hx-target="#main"
    hx-select="#main"
    hx-swap="outerHTML"
    hx-headers='{"X-CSRF-Token": "<%= form_authenticity_token %>"}'
  >
    <div id="flash" hx-swap-oob="true">
      <% if notice.present? %>
        <div class="flash">
          <%= notice %>
        </div>
      <% end %>
    </div>

    <main id="main" class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>

    <dialog
      id="modal"
      aria-modal="true"
      class="modal"
      role="dialog"
      x-data="modal"
      @click="closeIfOutside"
      @htmx:after-request="closeIfSuccessful"
      @htmx:after-swap="show"
    >
    </dialog>
  </body>
</html>
