<!DOCTYPE html>
<html>
  <head>
    <title><%= (content_for?(:title) ? "#{content_for(:title)} // " : "") + "Hotwire" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags("hotwire-app") %>
  </head>

  <body data-preserve-scroll>
    <% if notice.present? %>
      <div class="absolute top-0 right-0 bg-green-50 text-green-500 px-3 py-2 font-medium rounded-lg">
        <%= notice %>
      </div>
    <% end %>

    <main class="container mx-auto mt-28 px-5">
      <%= yield %>
    </main>

    <dialog
      class="fixed top-[50vh] -translate-y-1/2 my-0 rounded-lg shadow-100vw bg-white p-5 w-1/2 [&[open]]:animate-fade-in [&[closing]&[open]]:animate-fade-out"
      data-controller="modal"
      data-action="turbo:frame-load->modal#open turbo:before-render@window->modal#closeWithAnimation click->modal#backdropClose"
    >
      <%= turbo_frame_tag "modal" %>
    </dialog>
  </body>
</html>
