<!DOCTYPE html>
<html>
  <head>
    <title><%= (content_for?(:title) ? "#{content_for(:title)} // " : "") + "HTMX" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags("htmx") %>
  </head>

  <body hx-boost="true" hx-target="#main" hx-headers='{"X-CSRF-Token": "<%= form_authenticity_token %>"}'>
    <%= render partial: "shared/flash" %>

    <%= content_for?(:content) ? yield(:content) : yield %>
  </body>
</html>
